
@media screen and (max-width: 1445px) {

    .fs_32 {
        font-size: 1.75rem!important;
        line-height: 1.75rem!important;
    }
    .rubl {
        height: 28px!important;
        transform: translate(0px, -3px)!important;
    }
    .rubl_2 {
        height: 17px!important;
    }
}

@media screen and (max-width: 1440px) {
    .third_column{
        height: auto!important;
        min-height: 100vh;
    }
    .first_column{
        margin-top: 66px!important;
    }

    .second_column{
        margin-top: 66px!important;
    }

    .none_1440 {
       display: none;
    }
    .block_1440{
        display: block!important;
    }
    .transform_st {
        transform: translate(0px, -5px)!important;
    }
    .fs_30{
        font-size: 1.375rem!important;
        line-height: 1.375rem!important;
    }
    .summ_value {
        font-size: 2.5rem!important;
        line-height: 2.5rem!important;
    }
    .stonks {
        font-size: 0.812rem!important;
        line-height: 15.6px!important;
    }
    /* .second_column_2{
        padding-bottom: 3px!important;
    } */
    .height_pad{
        height: 23px;
    }
}



    
    
    @media screen and (max-width: 768px) {
        .third_column {
            min-height: auto!important;
        }
        .third_column {
            height: auto!important;
        }
        .second_column_3_2{
           height: unset!important;
        }
        .rubl_2_1 {
            height: 18px!important;
            margin-left: 5px!important;
        }
        .rubl_1 {
            height: 28px!important;
            margin-left: 5px!important;
            transform: translate(0px, -3px)!important;
        }
        .rubl_2 {
            height: 16px!important;
            transform: translate(0px, 0.5px)!important;
            margin-left: 5px!important;
        }
        .rubl {
            height: 20px!important;
        }
    
    .container_my{
        padding: 0!important;
    }
    body {
        overflow-y: scroll!important;
    }
    .three_columns {
        flex-wrap: wrap;
    }
    .first_column {
        width: 46%!important;
        margin-top: 65px!important;
        margin-left: 24px;
    }
    .second_column {
        width: 46%!important;
        margin-right: 24px!important;
        margin-top: 55px!important;
    }
    
    .third_column {
        width: 100%!important;
        display: flex;
        margin-left: 0!important;
    }
    .header_date {
        font-size: 24px!important;
        line-height: 28px!important;
    }
    .card_my {
        padding: 16px!important;
    }
    .sm_grey {
        font-size: 0.812rem!important;
        line-height: 15.6px!important;
    }
    .summ_value {
        font-size: 1.75rem!important;
        line-height: 1.75rem!important;
    }
    .fs_16 {
        font-size: 0.875rem!important;
        line-height: 16.8px!important;
    }
    .px_22 {
        font-size: 1.25rem!important;
        line-height: 1.25rem!important;
    }
    .fs_32 {
        font-size: 1.75rem!important;
        line-height: 1.75rem!important;
    }
    .vertical_line {
        display: none!important;
    }
    .card_wrop_768 {
        width: 100%;
        flex-wrap: wrap!important;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 8px;
        margin-top: 8px;
    }
    .second_column_2_item {
        flex-wrap: wrap;
    }
    .second_column_2_item {
        padding: 12px!important;
    }
    .fs_14 {
        font-size: 0.812rem!important;
        line-height: 15.6px!important;
    }
    .second_column_3 {
        padding: 16px!important;
        width: 50%!important;
        height: auto!important;
    }
    .second_column_3_2 {
        padding: 16px 16px 0 16px!important;
        width: 50%;
    }
    .fs_48 {
        font-size: 2.5rem!important;
        line-height: 2.5rem!important;
    }
    .fs_28 {
        font-size: 1.5rem!important;
        line-height: 1.5rem!important;
    }
    .transform_st{
        transform: translate(0px, -12px)!important;
    }
    .height_pad{
        height: 150.6px;
    }
    .header_date_2 {
        font-size: 24px!important;
        line-height: 28px!important;
    }
    .header_date_container {
        top: 24px!important;
        left: 24px!important;
    }
    .first_column_3 {
        margin-bottom: 12px!important;
    }
    .fs_name_2{
        font-size: 0.875rem!important;
        line-height: 1.05rem!important;
    }


}


@media screen and (max-width: 650px) {
   
    .arrow_mobile-red{
        transform: rotate(180deg) translate(0, 1px);
    }
    .arrow_mobile{
        transform: translate(0, -3px);
    }
    .arrow_mobile_2{
        transform: rotate(180deg) translate(0, 8px);
    }
    .second_column_3_2 {
        width: 100%!important;
    }
    .first_column {
        width: 95%!important;
        margin: 65px 16px auto!important;
    }
    .second_column {
        width: 95%!important;
        margin: 0 16px auto!important;
    }
    .card_my_second {
       margin: 0 0 12px 0!important;
    }
    .height_pad {
        height: 0px!important;
    }
    .third_column {
        flex-direction: column!important;
    }
    .second_column_3 {
        padding: 16px!important;
        width: 100%!important;
    }
}

@font-face {
    font-family: 'adderleybold';
    src: url('adderley_bold-webfont.woff2') format('woff2'),
         url('adderley_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansbold';
    src: url('firasans-bold-webfont.woff2') format('woff2'),
         url('firasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    /* overflow-y: clip; */
    font-family: 'Fira Sans';
}
.rubl{
    height: 34px;
    margin-left: 8px;
    transform: translate(0px, -4px);
}
.rubl_2 {
    height: 22px;
    margin-left: 8px;
    transform: translate(0px, 0px);
}
.rubl_1{
    height: 34px;
    margin-left: 8px;
    transform: translate(0px, -4px);
}
.rubl_2_1 {
    height: 22px;
    margin-left: 8px;
    transform: translate(0px, 0px);
}
.rubl_3 {
    height: 24px;
    margin-left: 4px;
    transform: translate(0px, 0px);
}

.adderleybold{
    font-family: 'adderleybold'!important;
}
.header_date_container{
    position: absolute;
    top: 32px;
}
.card_wrop_768 {
    display: flex;
}
.header_date_2{
    font-size: 18px;
    line-height: 24px;
}
.header_date{
    color:white; 
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
img { pointer-events: none; }
.container_my{
    padding: 0 0 0 32px;
}
.fs_30{
    font-size: 1.875rem;
    line-height: 1.875rem;
}
.mt_10{
    margin-top: 10px;
    margin-bottom: 4px;
}
.card_my {
    padding: 20px;
    position: relative;
}
.transform_st{
    transform: translate(0px, -4px);
}
.block_1440{
    display: none;
}
.three_columns{
    display: flex;
}

.first_column{
    width: 31.5%;
    /* margin-top: 56px; */
    margin-top: 100px;
    height: fit-content;
}

.first_column_1{
    background-color: #503333;
    height: fit-content;
    margin: 0 12px 12px 0;
}

.second_column{
    width: 31.5%;
    margin-right: 12px;
    /* margin-top: 56px; */
    margin-top: 100px;
    height: fit-content;
}

.first_column_2{
    background-color: #493C23;
    height: fit-content;
    margin: 0 12px 12px 0;
}



.sm_grey{
    font-size: 0.875rem;
    line-height: 17px;
    color: #848484;
}

.summ_value{
    font-size: 3rem;
    line-height: 3rem;
}
.summ_container{
    margin: 16px 0 4px 0;
}
.stonks{
    color: #48B95C;
    font-size: 1.25rem;
    line-height: 24px;
}

.stonks_red{
    color: #F96468;
}

.card_1_item_text{
    font-size: 1rem;
    line-height: 19.2px;
    color: #848484;
}
.fs_name{
    font-size: 1.125rem;
    line-height: 1.35rem;
}
.fs_name_2{
    font-size: 1rem;
    line-height: 1.2rem;
}
.px_22{
    font-size: 1.375rem;
    line-height: 1.375rem;
}
.fs_18{
    font-size: 1.125rem;
    line-height: 1.35rem;
}
.card_1_item{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 8px 12px;
    /* margin-bottom: 8px; */
}


.color_grey{
    color: #848484;
}
.color_grey_2{
    color: #BABABA;
}

.fs_16{
    font-size: 1rem;
    line-height: 19px;
}
.fs_14{
    font-size: 0.875rem;
    line-height: 16.8px;
}
.fs_32{
    font-size: 2rem;
    line-height: 2rem;  
}
/*PROGRESSBAR //////////////////////////////////////////////////////////////// */

.progress {
    height: 6px;
    font-size: 0;
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 12px;
}
.progress-bar{
    background-color: #FFB52C;
    border-radius: 2px;
}
  /* //////////////////////////////////////////////////////////////// */

  .first_column_3{
   background-color: #323232;
  }
  .dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .dot_red{
      background-color: #F96468;
  }

  .dot_blue{
    background-color: #4BAAFB;
}
.dot_yelow{
    background-color: #FFB52C;
}

.dot_blue_2{
    background-color: #3548F4;
}


.second_column_1{
    background-color: #2E4151;
}
.card_my_second{
    margin: 0 12px 12px 12px;
}
.second_column_2{
    background-color: #293E2C;
    padding-bottom: 26px;
}
.vertical_line{
    width: 1px;
    height: 32px;
    background: #5C5C5C;
}
.second_column_2_item{
    padding: 12px 0 12px 8px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
.second_column_3_item{
    background-color: #323232;
}

.third_column{
    width: 37%;
    margin-left: 12px;
    /* overflow-y: hidden; */
    height: 100vh;
}

.second_column_3{
    background-image: url('../images/grad_back_blue.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    /* height: 50%; */
    padding: 32px;

}

.fs_48{
    font-size: 3rem;
    line-height: 3rem;
}

.fs_28{
    font-size: 1.75rem;
    line-height: 1.75rem;
}
.card_3_col_item{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    padding: 10px 14px;
}

.second_column_3_2{
    background-image: url('../images/grad_back_2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    /* height: 50%; */
    padding: 32px;
}